table#kodansha {
  width: 100%; 
  background-color: #F9D448;
}

table#kodansha tr:hover {background-color: #f5f5f5;}

table#kodansha td {color: #963221;}
table#kodansha caption {
    caption-side: top;
    color: white;
    background-color: #7A140B;
}

/* Two image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 45%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}